.element__like {
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../images/element__like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  border: none;
  align-self: center;
  transition: opacity .1s linear;
  cursor: pointer;
}

.element__like:hover {
  opacity: .5;
}