.profile__edit-button {
  min-width: 24px;
  max-height: 24px;
  margin: 15px 0 0 18px;
  padding: 0;
  background-image: url(../../../images/profile__edit-button.svg);
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  transition: opacity .1s linear;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 690px) {
  .profile__edit-button {
    margin-top: 8px;
    margin-left: 10px;
    min-width: 18px;
    height: 18px;
  }
}