.profile__add-button {
  margin: 0 0 0 auto;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(../../../images/profile__add-button.svg);
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  transition: opacity .1s linear;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 690px) {
  .profile__add-button {
    margin: auto;
    width: 282px;
  }
}